<div class="d-flex">
  <div class="bg-dark border-right p-3" id="sidebar"> 
    <h3 class="text-light">  Gifs App  </h3>
    <hr class="text-light">
    <div class="list-group list-reset">
      <a href="#" class="list-group-item list-group-item-action">
        Dashboard
      </a>
    </div>
  </div>
  <!-- END SIDEBAR -->

  <div class="container">

    <!-- INIT BUSCADOR -->
    <div class="row p-3">
      <div class="col">
        <h5>Buscar:</h5>
        <input type="text" name="" id="" class="form-control" placeholder="Buscar Gifs">
      </div>
    </div>
    <!-- END BUSCADOR -->

    <hr>
    <!-- INIT CONTENT -->
    <div class="row">
      <div class="col"> Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sed adipisci sapiente consequatur doloremque neque vitae, odio nobis perspiciatis! Nam libero expedita, exercitationem ea quia dolore debitis? Pariatur voluptatum ipsam accusamus!</div>
    </div>
    <!-- END CONTENT -->
  </div>
  

</div>
